/* Style sheet for Scholars SGC web page */

/* General instructions for font, color, and background image */
body {
	font-family: Ariel, Futura, Verdana;
	color: #344152;
	font-size: 4em;3
	margin: 30px;
	background: white url(//www.geol.umd.edu/sgc/sharedimages/delearthwp.jpg) repeat top right;
	width: 900px; 
}

/* General selector values */

/* Paragraph break height */
p {
	line-height: 1.4em;
}

/* Heading fonts and formats */
h2 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: #344152;
	font-size: 1.5em;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	text-align: center;
	font-weight: plain;
}

h6 {
	font-family: Skia, Futura, Verdana, Ariel;
	color: #344152;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	text-align: center;
	font-weight: plain;
}

/* Margins and alignment for images in the content division */					
#content img {
			padding: 2px;
			float: right;
			margin: 0 0 5em 5em;
			width: 900px;
			max-height: 480px;
		}
a {
	text-decoration: none;
}

/* Colors for linked text, before and after being clicked */			
a:link {
	color: #1C86EE;
}

a:visited {
	color: #104E8B;
}


/* Page Layout */

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

#content {
	margin-top: 400px; 
	margin-left: 30px; 
}

/* Layout for divisions containing images and their captions */
#picture {
	padding: 1px;
	float: right;
	width: 800px;
	text-align: center;
	font-size: 20pt;
	margin: 0 0 2em 2em;
}
/* Layout for alignment of footer */

#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20pt;
}


#footer img {
	padding: 10px;
}
